body {
    background: url('https://static.vecteezy.com/ti/vetor-gratis/p1/7660912-fundo-roxo-com-linha-curva-e-textura-grains-design-ilustracao-eps10-vetor.jpg') no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;

}

header {
    background-color: #a83effd8;
    color: rgb(220, 178, 255);
    padding: 10px 0;
    text-align: center;
}

header H1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 1rem;
    background: #a83effd8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 95%;
}

h2 {
    margin-bottom: 1rem;
    font-size: 22;
    align-items: center;
}

.imagen {
    width: 300px;
    height: 100%;
    align-items: center;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: #e298ff;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0,3s ease, box-shadow 0.3 ease;
    align-items: center;
    width: 500px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}



#projetos2 {
    padding: 2rem;
    margin: 1rem;
    background: #a83effd8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 95%;
}

h2 {
    margin-bottom: 1rem;
    font-size: 22;
    align-items: center;
}

.imagen {
    width: 300px;
    height: 100%;
    align-items: center;
}
.cards2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card2 {
    background: #e298ff;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0,3s ease, box-shadow 0.3 ease;
    align-items: center;
    width: 500px;
}

.card2:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.cards3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card3 {
    background: #e298ff;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0,3s ease, box-shadow 0.3 ease;
    align-items: center;
    width: 500px;
}

.card3:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.cards4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card4 {
    background: #e298ff;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0,3s ease, box-shadow 0.3 ease;
    align-items: center;
    width: 500px;
}

.card4:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

#projetos3 {
    padding: 2rem;
    margin: 1rem;
    background: #a83effd8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 95%;
}


#projetos4 {
    padding: 2rem;
    margin: 1rem;
    background: #a83effd8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 95%;
}

